html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
		cursor: default;
}

body{
	font-family:"Raleway", "HelveticaNeue", "Helvetica Neue",
							 Helvetica, Arial, sans-serif;
	font-weight:400;
  -webkit-user-select: none;
	-webkit-app-region: drag;
	margin:0;
}

main, footer, .buttons{
	-webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6, p, a, span, label {
	font-family:"Raleway", "HelveticaNeue", "Helvetica Neue",
							 Helvetica, Arial, sans-serif;
	font-weight:200;
}

/* scrollbar */
::-webkit-scrollbar {
	 width:8px;
   height:8px
	 border-radius:0px;
	 background:#ECF0F1;
 }
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	 border-radius:0px;
 }
::-webkit-scrollbar-thumb {
	 border-radius:0px;
	 height:8pxpx;
	 background-color:#95A5A6;
 }

header, footer{
	height:2rem;
	background-color: #E5E5E6;
	z-index:1;
}

.flex-container,
.flex-container header,
.flex-container footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.layout{
	flex-direction: column;
	height:100vh;
}
.content, main {
	flex:2;
}
.window {
  position: relative;
  flex-basis: 100%;
	background-color: #FAFAFA;
	-webkit-box-shadow: 0px	0px 0px 1px #B4B5B5;
	box-shadow: 0px	0px 0px 1px #B4B5B5;
	z-index:3;
}
.sidebar {
  flex-basis: 20%;
	background-color: #E5E5E6;
	z-index:2;
}
.flex-container header,
.flex-container footer {
  width: 100%;
}

/* handle positionning  */
.center{
	align-items: center;
	justify-content: center;
	text-align:center;
}
.margin-top-3{
	margin-top:20%;
}

/* sidebar */
#sidebar li{
  background-color: #E5E5E6;
	border-bottom: 1px solid rgba(140, 140, 140, 0.3);
  margin:0;
  padding:0;
  border-radius:0;
}
#sidebar li a{
  color:#2C3E50;
  font-size:1rem;
}
#sidebar li label{
  line-height:1;
  color:#2C3E50;
  font-size:1rem;
  padding: 0.7rem 1.1rem;
}
#sidebar li:hover{
  background-color: #D9DADA;
}

/*  */
.thumbnail{
  margin-left:0.5em;
  margin-bottom:0.5em;
}
.img-layer{
  position: absolute;
  z-index:1;
}
.canvas-layer{
  position:relative;
  z-index:20;
}
.icon-font{
  font-size: 1rem;
}

/*  */
.mainWindow{
  position: absolute;
  height: 75%;
  width:100%;
  overflow-y: scroll;
}
.dragDivider{
  position:absolute;
  height: 2%;
  width:100%;
  top:75%;
  cursor:row-resize;
  z-index:4;
}
.previsualize{
  position: absolute;
  height: 25%;
  top:75%;
  width:100%;
  /* Style */
  background: #F1F1F1;
}
.previsualize-content{
  /* overflow */
  overflow-y: scroll;
  height: calc(100% - 28px);
  padding:10px;
  color:white;
}

/* tab menu */
.tab-menu{
  height:28px;
  background-color: #E8E8E8;
  border-top: 1px solid #B4B5B5;
  border-bottom: 1px solid #B4B5B5;
  color:white;
}
.tabs{
  height:100%;
  background: none;
  border:none;
  /* borde */
  /* border-top: 1px solid #333333;*/
}
.tabs-title{
  height:100%;
  border-right: 1px solid #B4B5B5;
}
.tabs-title > a {
  color:#2C3E50;
  height:100%;
  padding: 0.25rem 1rem;
  font-size:14px;
  line-height: 1.5;
}
.tabs-title > a:hover, .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background-color: #CBCCCC;
  color:#2C3E50;
}

/* loaders
   http://tobiasahlin.com/spinkit/ */
 .spinner {
   width: 20px;
   height: 20px;

   position: relative;
   margin: auto;
 }

 .double-bounce1, .double-bounce2 {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #333;
   opacity: 0.6;
   position: absolute;
   top: 0;
   left: 0;

   -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
   animation: sk-bounce 2.0s infinite ease-in-out;
 }

 .double-bounce2 {
   -webkit-animation-delay: -1.0s;
   animation-delay: -1.0s;
 }

 @-webkit-keyframes sk-bounce {
   0%, 100% { -webkit-transform: scale(0.0) }
   50% { -webkit-transform: scale(1.0) }
 }

 @keyframes sk-bounce {
   0%, 100% {
     transform: scale(0.0);
     -webkit-transform: scale(0.0);
   } 50% {
     transform: scale(1.0);
     -webkit-transform: scale(1.0);
   }
 }
